<!DOCTYPE html>
<html lang="en">

  <body>
  <% include ./partials/head %>
  <% include ./partials/header %>

  <div class="list_container-back">
    <div class="list_container-main read">
      <div class="manual-input">
        <form id="manual-read" METHOD=POST action="/categories/read" >
          <textarea class="editHere" name="manual" placeholder="New book"></textarea>
          <input class="submitItem" type="submit" value="add">
        </form>
      </div>
      <div class="list-header">
        <p>-BOOKS TO READ-</p>
      </div>
    </div>
  </div>

  </body>
</html>
