<!DOCTYPE html>
<html lang="en">

  <body>
  <% include ./partials/head %>
  <% include ./partials/header %>


    <div class="buttons-back">
      <div class="buttons-main">
          <div class="categories">
            <p>TV/MOVIES</p>
          </div>
          <div class="categories">
            <p>BOOKS</p>
          </div>
          <div class="categories">
            <p>RESTAURANTS</p>
          </div>
      </div>
    </div>






  </body>



</html>
