<!DOCTYPE html>
<html lang="en">

  <body>
  <% include ./partials/head %>
  <% include ./partials/header %>

    <div class="buttons-back">
      <div class="buttons-main">
        <a href="/categories/eat" class="list-link">
          <div class="categories">
            <p>TO EAT</p>
          </div>
        </a>
        <a href="/categories/read" class="list-link">
          <div class="categories">
            <p>TO READ</p>
          </div>
        </a>
        <a href="/categories/watch" class="list-link last">
          <div class="categories">
            <p>TO WATCH</p>
          </div>
        </a>
      </div>
    </div>

  </body>

</html>
