<!DOCTYPE html>
<html lang="en">

  <body>
  <% include ./partials/head %>
  <% include ./partials/header %>


    <div class="buttons-back">
      <div class="buttons-main">
        <a href="/categories/books" class="list-link">
          <div class="categories">
            <p>BOOKS</p>
          </div>
        </a>
        <a href="/categories/movies" class="list-link">
          <div class="categories">
            <p>MOVIES</p>
          </div>
        </a>
        <a href="/categories/tvshows" class="list-link">
          <div class="categories">
            <p>TV SHOWS</p>
          </div>
        </a>
        <a href="/categories/restaurants" class="list-link last">
          <div class="categories">
            <p>RESTAURANTS</p>
          </div>
        </a>
      </div>
    </div>






  </body>



</html>
