<!DOCTYPE html>
<html lang="en">

  <body>
  <% include ./partials/head %>
  <% include ./partials/header %>


    <div class="container-back">
      <div class="container-main">
        <div class="add-to-do">
          <h2>Get it SRTD</h2>
          <form class="submit-to-do" action="/item_names" method="POST">
            <textarea
              id="to-do-input"
              name="text"
              placeholder="What can we store for you?"></textarea>
              <div class="btn-div"><input type="submit" value="Save it!"></div>
          </form>
        </div>
      </div>
    </div>


  </body>



</html>
