<!DOCTYPE html>
<html lang="en">

  <body>
  <% include ./partials/head %>
  <% include ./partials/header %>

   <div class="list_container-back">
      <div class="list_container-main watch">
        <form id="manual-watch" METHOD=POST action="/items/watch" >
          <textarea class="editHere" name="manual" placeholder="add things"></textarea>
          <input class="submitItem" type="submit" value="add">
        </form>
        <div class="list-header">
          <p>-MOVIES TO WATCH-</p>
        </div>
          <div class="movie-item-container">
            <p class="movie-title">TEST DIV</p>
              <form method="POST" action="">
                <button name="delete" type="submit" class="delete-title">DELETE</button>
              </form>
          </div>
      </div>
  </div>

  </body>
</html>
