<!DOCTYPE html>
<html lang="en">

  <body>
  <% include ./partials/head %>
  <% include ./partials/header %>

   <div class="list_container-back">
      <div class="list_container-main eat">
        <form class="manual" METHOD=POST action="/items/eat" >
          <textarea class="editHere" name="manual" placeholder="add things"></textarea>
          <input class="submitItem" type="submit" value="add">
        </form>
        <div class="list-header">
          <p>-RESTAURANTS TO TRY-</p>
        </div>
      </div>
  </div>








  </body>
</html>
